<!DOCTYPE html>
<html>
<head>
	<title>Healthcare Dashboard</title>
	<link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="bower_components/jquery/dist/jquery.min.js" ></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
	<script src="/javascript/nv.d3.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>

  <div id="graphs">
    <div class="row">

      <div class="col m9">
        <div class="card large">
          <div class="card-content">
            <span class="card-title">User Location</span>
            <div id="userLocation" style="height: 450px;" >
            </div>
          </div>
        </div>
      </div>

      <div class="col l3">

        <div class="card">
          <div class="card-content">
            <span class="card-title">Total Users: </span>
            <span id="totalUsers" class="card-title"> -- </span>
          </div>
        </div>

        <div class="card warning-card">
          <div class="card-content">
            <span class="card-title">Warnings</span>
            <a href="#fethced-details"><div id="warnings" style="height: 385px;"></div></a>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <span class="card-title">User Demographics</span>
            <div id="userDemographics" style="height: 250px;" ></div>
          </div>
        </div>
      </div>

      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <span class="card-title">Sale of Devices</span>
            <div id="fitbitSale" style="height: 250px;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row" id="fethced-details" >
      <div class="col m4">
        <div class="card medium">
          <div class="card-content">
            <span class="card-title">User Location</span>
            <div id="warningLocation" style="height: 350px;" ></div>
          </div>
        </div>
      </div>

      <div class="col m5">
        <div class="card hr_bt">
          <div class="card-content">
            <span class="card-title">Body Temperature</span>
            <div id="bodyTemperature" style="height: 160px;" ></div>
          </div>
        </div>
        <div class="card hr_bt">
          <div class="card-content">
            <span class="card-title">Heart Rate</span>
            <div id="heartRate" style="height: 160px;" ></div>
          </div>
        </div>
      </div>

      <div class="col m3">
        <div class="card medium">
          <div class="card-content">
            <span class="card-title">User Details</span>
            <div id="warningDetails" style="height: 350px;">
              <table>

                <tbody>
                  <tr>
                    <td>USER ID</td>
                    <td id="userID">--</td>
                  </tr>
                  <tr>
                    <td>AGE</td>
                    <td id="age">--</td>
                  </tr>
                  <tr>
                    <td>BODY FAT</td>
                    <td id="bfp">--</td>
                  </tr>
                  <tr>
                    <td>BMI</td>
                    <td id="bmi">--</td>
                  </tr>
                  <tr>
                    <td>BLOOD PRESSURE</td>
                    <td id="bp">--</td>
                  </tr>
                  <tr>
                    <td>DIASTLOIC</td>
                    <td id="dia">--</td>
                  </tr>
                  <tr>
                    <td>SYSTOLIC</td>
                    <td id="sys">--</td>
                  </tr>
                  <tr>
                    <td>ACTIVITY LEVEL</td>
                    <td id="act">--</td>
                  </tr>
                  <tr>
                    <td>GENDER</td>
                    <td id="gender">--</td>
                  </tr>
                  <tr>
                    <td>HEIGHT</td>
                    <td id="height">--</td>
                  </tr>
                  <tr>
                    <td>WEIGHT</td>
                    <td id="weight">--</td>
                  </tr>
                </tbody>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m6" >
        <div class="card small">
          <div class="card-content">
            <span class="card-title">Metrics 4</span>
            <div id="metrics4" style="height: 250px;"></div>
          </div>
        </div>
      </div>
      <div class="col m6" >
        <div class="card small">
          <div class="card-content">
            <span class="card-title">Metrics 5</span>
            <div id="metrics5" style="height: 250px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m12">
        <div class="card-panel grey lighten-2">
          <h5 class="black-text center-align">Latencies for all pipelines</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <a href="http://din16000602:3000/totalUsers" ><span class="card-title">Total Users</span></a>
            <span id="pipeline1-span" class="card-title right">--</span>
            <div id="pipeline1" style="height: 250px;"></div>
          </div>
        </div>
      </div>
      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <a href="http://din16000602:3000/warning" ><span class="card-title">Warning</span></a>
            <span id="pipeline2-span" class="card-title right">--</span>
            <div id="pipeline2" style="height: 250px;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <a href="http://din16000602:3000/userLocation" ><span class="card-title">User Locations</span></a>
            <span id="pipeline3-span" class="card-title right">--</span>
            <div id="pipeline3" style="height: 250px;"></div>
          </div>
        </div>
      </div>
      <div class="col m6">
        <div class="card small">
          <div class="card-content">
            <a href="http://din16000602:3000/sparkCassandra" ><span class="card-title">Spark Cassandra</span></a>
            <span id="pipeline4-span" class="card-title right">--</span>
            <div id="pipeline4" style="height: 250px;"></div>
          </div>
        </div>
      </div>

    </div>

	<script src="/javascript/main.js"></script>
  <script src="/javascript/map.js"></script>
</body>
</html>