<!DOCTYPE html>
<html>
<head>
	<title>Latency: User Location</title>
	<link rel="stylesheet" href="bower_components/materialize/bin/materialize.css">
	<link rel="stylesheet" type="text/css" href="/css/nv.d3.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" />
  <script src="bower_components/jquery/dist/jquery.min.js" ></script>
  <script src="bower_components/materialize/bin/materialize.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
	<script src="/javascript/nv.d3.js"></script>
  <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
	<script src="/socket.io/socket.io.js"></script>
</head>
<body>
	user location
	<script src="/javascript/main.js"></script>
  <script src="/javascript/map.js"></script>
</body>
</html>